name: build

on: [push]

jobs:
  build_wheel:
    name: build-wheel
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup-mp
        run: git submodule update --init --recursive

      - name: setup-uv
        uses: astral-sh/setup-uv@v1

      - name: setup-rust
        uses: Swatinem/rust-cache@v2

      - name: setup-arm-none-eabi-gcc
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '14.2.Rel1'

      - name: build-rust
        run: cargo build

      - name: generate-bin
        run: arm-none-eabi-objcopy -O binary target/armv7a-vex-v5/debug/venice venice/venice.bin

      - name: build-wheel
        run: cd venice && uv build

      - name: upload-bin
        uses: actions/upload-artifact@v4
        with:
          name: binary
          path: venice/venice.bin

      - name: upload-wheel
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: venice/dist
